services:
  mongodb-service:
    image: mongo:latest
    container_name: mongodb_testflow
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  backend-service:
    # IMAGEM DO GHCR (GitHub Container Registry)
    image: ghcr.io/joaovictor-m/testflow-backend:v1.0.0
    container_name: backend_testflow
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./evidencias_testes:/evidencias_testes
    depends_on:
      - mongodb-service
    environment:
      - MONGODB_URI=mongodb://mongodb-service:27017/testflow

  frontend-service:
    # IMAGEM DO GHCR
    image: ghcr.io/joaovictor-m/testflow-frontend:v1.0.0
    container_name: frontend_testflow
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend-service

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower_testflow
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=America/Sao_Paulo
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 0 3 * * *
    restart: always

volumes:
  mongo-data:
